@model Subject //Importamos variable de tipo Item
@using mvc_grades.Models
@* Accedemos al modelo considerando que es una lista *@

<h2>Detalles de la materia</h2>
<p><strong>ID:</strong> @Model.id</p>
<p><strong>Nombre:</strong> @Model.name</p>